@layer tailwind-base, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.required::after {
  content: ' *';
  color: red;
}

.p-autocomplete-loader {
  display: none;
}
